.Navtop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .profile{
        height: 100%;
        width: 25%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .text{
        height: 100%;
        width: 50%;
        font-family: Inter;
        color: white;
        display:flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        .userName{
            font-weight: 500;
            font-size: 15px;
            font-family: Inter;
        }
        .link{
           font-size: 13px;
           font-weight: 400;
           font-family: Galano Gortesque;
        }
    }
    .dropDown{
        color: white;
    }
}