.header{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;

    padding: 0% 2.5% 0% 2.5%;

    align-items: center;
    .topbarleft{
        height: 100%;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchbar{
        height: 100%;
        width: 33%;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .headeroption{
        width: 33%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: end;
        gap: 12px;
        align-items: center;
    }

}
