.searchbar{
    height: 62%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .searchInput{
        height: 100%;
        background: #F2F2F2;
        border: none;
        width: 100%;
        border-radius: 6px;
        padding-left: 45px;
        background-image: url('@assets/images/search.png');
        background-repeat: no-repeat;
        background-position: 3%;
    }
    .searchInput:focus {
        outline: none;
    }
}